#main-container
{
  width: 100%;
  height: 100%;
  padding: 5px;
  color: var(--text-color);
  position: relative;
  gap: 4px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: min-content auto;
  grid-template-areas:
      "header header"
      "uploader serial";
  overflow: hidden;
}

h1{
  font-size: 23px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  grid-area: header;
}

#uploader-outer-container
{
  display: inline-flex;
  flex-direction: column;
  grid-area: uploader;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#serial-container{
  width: 100%;
  height: 100%;
  grid-area: serial;
  overflow: hidden;
  /* overflow: auto; */
}

#serial-fieldset
{
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
      "header"
      "options"
      "terminal";
}

#upload-container
{
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

#upload-image{
  display: inline-flex;
  flex-direction: column;
  gap: 2px;
}

#upload-options
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}

.fieldset-sector
{
  padding: 10px;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  color: var(--text-color);
}

.fieldset-sector legend{
  font-weight: bold;
  padding: 0px 5px;
}

#file-info-container-outer
{
  overflow-y: auto;
  height: 100%;
}

#file-info-container
{
  width: 100%;
}

#file-info{
  padding: 5px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

#file-info:empty:after{
  content: 'No file selected';
  color: lightgrey;
  opacity: .7;
}

.info-content{
  /* overflow: hidden; */
  display: inline-flex;
  align-items: stretch;
}

.info-title{
  font-weight: bold;
  background-color: var(--secondary-color);
  padding: 5px;
  border-radius: 5px 0px 0px 5px;
  display: inline-flex;
  align-items: center;
}

.info-data{
  background-color: var(--primary-color-light2);
  padding: 5px;
  border-radius: 0px 5px 5px 0px;
  overflow-wrap: anywhere;
}

/**
 *
 */
#support-inform
{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
  position: fixed;
  bottom: 15px;
  margin: 0% 5%;
}

.inform
{
  display: flex;
  gap: 2px;
  align-items: center;
  text-align: center;
}

.inform a
{
  text-decoration: none;
  color: inherit;
}

.close
{
  font-size: 30px;
  cursor: pointer;
}

.close:hover
{
  font-weight: bold;
}

/**
 *
 */
.report
{
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}

#report.report:empty{
  display: none;
  padding: 0px;
}

.success
{
  background-color: rgba(0, 230, 0, 0.8);
}

.warning
{
  background-color: rgba(249, 215, 0, 0.8);
}

.error
{
  background-color: rgba(230, 0, 0, 0.8);
}

/**
 *
 */

#serial-options{
  display: flex;
  width: fit-content;
  gap: 5px;
  font-size: 18px;
  align-items: center;
  margin-bottom: 2px;
  flex-wrap: wrap;
  grid-area: options;
}

#serial-options *
{
  cursor: pointer;
}

#serial-options *:hover
{
  background-color: var(--text-color);
  color: var(--primary-color);
}

#terminal-container
{
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  padding: 3px;
  border-radius: 3px;
  grid-area: terminal;
}

#upload-progress
{
  width: 100%;
  min-height: 30px;
}

@media only screen and (max-width: 600px) {
  #main-container
  {
    grid-template-columns: 100%;
    grid-template-rows: min-content auto;
    grid-template-areas:
        "header"
        "uploader"
        "serial";
    overflow: hidden;
  }
}
