#main{
  padding: 5px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  position: relative;
}

h1{
  font-size: 23px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

/* #main-container
{
  display: flex;
  height: 100%;
  gap: 4px;
  justify-content: stretch;
  width: 100%;
}

#uploader-outer-container
{
  flex: 1 0 50%;
} */

#serial-container{
  width: 100%;
  overflow: auto;
  min-height: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* flex: 1 0 50%; */
}

#upload-container
{
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: fit-content;
}

#upload-image{
  display: inline-flex;
  flex-direction: column;
  gap: 2px;
}

#upload-options
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}

.fieldset-sector
{
  padding: 15px;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  color: var(--text-color);
}

.fieldset-sector legend{
  font-weight: bold;
  padding: 0px 5px;
}

#file-info-container
{
  position: absolute;
  width: 50%;
  right: -48%;
  top: 10%;
  background: var(--primary-color);
  transition: 0.5s right ease;
  border-width: 2px;
  /* width: 100%; */
  /* overflow: auto; */
}

#file-info-container:hover
{
  right: 0;
}

#file-info{
  padding: 5px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

#file-info:empty:after{
  content: 'No file selected';
  color: lightgrey;
  opacity: .7;
}

.info-content{
  /* overflow: hidden; */
  display: inline-flex;
  align-items: stretch;
}

.info-title{
  font-weight: bold;
  background-color: var(--secondary-color);
  padding: 5px;
  border-radius: 5px 0px 0px 5px;
  display: inline-flex;
  align-items: center;
}

.info-data{
  background-color: var(--primary-color-light2);
  padding: 5px;
  border-radius: 0px 5px 5px 0px;
}

/**
 *
 */
#support-inform
{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
  position: fixed;
  bottom: 15px;
  margin: 0% 5%;
}

.inform
{
  display: flex;
  gap: 2px;
  align-items: center;
  text-align: center;
}

.inform a
{
  text-decoration: none;
  color: inherit;
}

.close
{
  font-size: 30px;
  cursor: pointer;
}

.close:hover
{
  font-weight: bold;
}

/**
 *
 */
.report
{
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}

#report.report:empty{
  display: none;
  padding: 0px;
}

.success
{
  background-color: rgba(0, 230, 0, 0.8);
}

.warning
{
  background-color: rgba(249, 215, 0, 0.8);
}

.error
{
  background-color: rgba(230, 0, 0, 0.8);
}

/**
 *
 */

#serial-options{
  display: flex;
  gap: 5px;
  font-size: 18px;
  align-items: center;
  margin-bottom: 2px;
  flex-wrap: wrap;
}

#serial-options *
{
  cursor: pointer;
}

#serial-options *:hover
{
  filter: brightness(90%);
}

#terminal-container
{
  width: 100%;
  /* width: fit-content; */
  /* max-width: 60%; */
  height: 100%;
  overflow: auto;
  background-color: black;
  padding: 3px;
  border-radius: 3px;
  /* position: relative; */
}

#upload-progress
{
  width: 100%;
  min-height: 30px;
}

@media only screen and (max-width: 600px) {
  #upload-container
  {
    width: 100%;
  }

  #file-info-container
  {
    top: auto;
    bottom: 10%;
    height: auto;
    right: -95%;
    width: 100%;
  }

  #file-info-container:hover
  {
    width: 98%;
  }
}
