#main{
  padding: 5px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h1{
  font-size: 23px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

#upload-container
{
  display: flex;
  flex-direction: column;
  /* font-size: 18px;
  align-items: center;
  gap: 5px; */
}

#upload-image{
  display: inline-flex;
  flex-direction: column;
  gap: 2px;
}

.fieldset-sector
{
  padding: 15px;
  border: 1px solid var(--text-color);
  border-radius: 10px;
}

.fieldset-sector legend{
  font-weight: bold;
  padding: 0px 5px;
}

#file-info{
  padding: 5px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

#file-info:empty:after{
  content: 'No file selected';
  color: lightgrey;
  opacity: .7;
}

.info-content{
  /* overflow: hidden; */
  margin-bottom: 10px;
}

.info-title{
  font-weight: bold;
  background-color: var(--secondary-color);
  padding: 5px;
  border-radius: 5px 0px 0px 5px;
}

.info-data{
  background-color: var(--primary-color-light2);
  padding: 5px;
  border-radius: 0px 5px 5px 0px;
}

/**
 *
 */
#support-inform
{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inform
{
  display: flex;
  gap: 2px;
  align-items: center;
}

.inform a
{
  text-decoration: none;
  color: inherit;
}

.close
{
  font-size: 30px;
  cursor: pointer;
}

.close:hover
{
  font-weight: bold;
}

/**
 *
 */
.report
{
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}

#report.report:empty{
  display: none;
  padding: 0px;
}

.success
{
  background-color: rgba(0, 230, 0, 0.8);
}

.warning
{
  background-color: rgba(249, 215, 0, 0.8);
}

.error
{
  background-color: rgba(230, 0, 0, 0.8);
}

/**
 *
 */
#serial-container{
  width: fit-content;
}

#serial-options{
  display: flex;
  gap: 5px;
  font-size: 18px;
  align-items: center;
}

#serial-options *
{
  cursor: pointer;
}

#serial-options *:hover{
  filter: brightness(90%);
}

#terminal-container
{
  width: 100%;
  min-height: 300px;
  /* background-color: yellow; */
  /* overflow-y: auto; */
}
