#detail-container #detail-content h1.detail-title
{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.detail-content{
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.detail-content h2{
  font-size: 22px;
  text-decoration: underline;
  width: 100%;
  text-align: center;
  background-color: var(--primary-color-dark);
  padding: 5px;
}
