.detail-content .detail-name-container
{
  width: 100%;
  display: flex;
}

.detail-content .detail-name-container .detail-name{
  width: 100%;
  outline: none;
}

.detail-content .detail-name-container .detail-edit-name
{
  cursor: pointer;
}

.detail-content .detail-device-commands[data-disabled='true'] button
{
  cursor: not-allowed;
  border-style: unset;
}

.detail-content .detail-device-commands[data-disabled='true'] button:hover
{
  font-weight: normal;
}

.detail-content .detail-device-commands[data-disabled='true'] button:active
{
  transform: none;
}

.detail-content .detail-device-commands[data-disabled='false'] .detail-device-command-force
{
  display: none;
}

.detail-content .detail-device-commands[data-disabled='true'] .detail-device-command-force
{
  cursor: pointer;
}
