#device-container{

}

#device-container #device-main-container{
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

#device-container #device-main-container tbody td{
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

#device-container #device-main-container tbody tr[data-connected='false']{
  color: rgb(150, 150, 150);
}
