select.hide-first-opiton option:first-child
{
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input.remove-arrow::-webkit-outer-spin-button,
input.remove-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.remove-arrow[type=number] {
  -moz-appearance: textfield;
}

.table-container
{
  overflow-y: auto;
  padding-bottom: 2px;
}

.button-normal
{
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--primary-color-dark);
  font-family: var(--font-family);
  padding: 6px 3px;
  border-radius: 5px;
}

.button-normal[disabled]
{
  cursor: not-allowed;
  pointer-events: none;
  filter: brightness(90%);
}

.input-common,
.input-text
{
  color: var(--text-color);
  background-color: var(--primary-color-dark);
  font-family: var(--font-family);
  padding: 6px 3px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
}

.input-text::placeholder
{
  color: white;
  opacity: 0.7;
}

@media only screen and (max-width: 600px) {
  .button-normal[disabled]
  {
    color: #888;
  }
}
