#main #main-main #detail-container
{
  position: absolute;
  right: 0;
  height: 98%;
  background-color: var(--primary-color-light);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  width: 0%;
  overflow: hidden;
  transition: all 0.2s ease-out;
  border-radius: 15px 0px 0px 15px;
  z-index: 11;
}

#main #main-main #detail-container.show-container{
  width: 50%;
  transition: all 0.2s ease-out;
  padding: 10px 0px 10px 10px;
  box-shadow: -1px 1px 1px #000,
              -2px 2px 2px #111;
}

#main #main-main #detail-container .detail-close
{
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 50px;
  color: var(--text-color);
  transform: translateY(-15px);
  cursor: pointer;
  z-index: 100;
}

#main #main-main #detail-container .detail-close:hover{
  text-shadow: var(--hover-effect);
}

#main #main-main #detail-container #detail-content{
  overflow: auto;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  #main #main-main #detail-container.show-container{
    width: 100%;
  }
}
