
#main #header .drop-menu{
  position: relative;
  outline: none;
}

#main #header .drop-menu .drop-menu-content{
  left: auto;
  right: -5px;
  transform: translateY(3px);
}

#main #header .drop-menu .drop-menu-content{
  display: none;
  position: absolute;
  /* positining at center */
  /* left: 50%;
  right: auto;
  text-align: center !important;
  transform: translateY(3px) translate(-50%, 0); */
  /* Styling */
  background-color: var(--primary-color-light);
  border-radius: 10px 10px 10px 10px;
  border: 1px solid black;
  overflow: hidden;
  z-index: 10;
  min-width: 200px;
}

#main #header .drop-menu-content p
{
  padding: 5px;
  background-color: var(--primary-color-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main #header .drop-menu-content p:hover
{
  text-decoration: underline;
}

/**
 * Using focus (with html:tabindex=0) just active the menu at clicling
 */
#main #header .drop-menu:focus .drop-menu-content{
  display: block;
}

#main #header .icon-hover{
  padding: 2px;
}

#main #header .icon-hover:hover{
  background-color: var(--text-color);
  color: var(--primary-color-dark);
  border-radius: 15px;
}

#main #header #admin-portal-label
{
  width: 100%;
  text-align: center;
}
