@font-face {
    font-family: 'Jura';
    src: url('../../fonts/jura-variablefont_wght-webfont.woff2') format('woff2'),
         url('../../fonts/jura-variablefont_wght-webfont.woff') format('woff');
     /* src: local('jura-variablefont_wght-webfont.woff2') format('woff2'),
          local('jura-variablefont_wght-webfont.woff') format('woff'); */
    font-weight: normal;
    font-style: normal;
}
