#main{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  color: var(--text-color);
  height: 100%;
  width: 100%;
}

#main-load-screen{
  display: none;
}

#main-main{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#main-main #main-side-menu{
  width: 0px;
  min-width: 0px;
  background-color: var(--primary-color-light);
  overflow: hidden;
  border-radius: 0px 15px 15px 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  z-index: 10;
  transition: all 0.2s ease;
}

#main-main #main-side-menu.show-menu{
  width: 170px;
  min-width: 170px;
  box-shadow: 1px 1px 1px #000,
              2px 2px 2px #111;
  transition: all 0.2s ease;
}

#main-main #main-side-menu li{
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 7px 5px;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  user-select: none;
}

#main-main #main-side-menu li .side-menu-icon{
  width: 20%;
  text-align: center;
}

#main-main #main-side-menu li .side-menu-text{
  width: 80%;
  text-align: center;
}

#main-main #main-side-menu li:hover{
  text-decoration: underline;
  font-weight: bold;
  background-color: var(--secondary-color);
}

#main-main #main-content{
  width: 100%;
  height: 100%;
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  #main-main #main-side-menu{
    position: fixed;
  }
}
