:root{
  --primary-color: rgba(0, 100, 200);
  --primary-color-dark: rgb(10, 20, 150);
  --primary-color-light: rgb(30, 50, 200);
  --secondary-color: rgb(0, 50, 150);
  --text-color: white;
  /* --font-family: 'Indie Flower', cursive; */
  --font-family: 'Jura', sans-serif;
  /* --font-family: 'PT Sans', sans-serif; */
  /* --font-family: 'Gemunu Libre', sans-serif; */
  /* --font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  --hover-effect: -0.06ex 0 currentColor, 0.06ex 0 currentColor;
}

* {
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color:  var(--primary-color);
  font-family: var(--font-family);
}

/**
 * Style scrool bar
 */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color-dark);
  /* background: green; */
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color-light);
  /* background: red; */
}

/* test */
/* #device-data{
  font-family: monospace;
}

#device-data p{
  background-color: red;
  margin-bottom: 5px;
} */
