.custom-response-modal{
  --inner-width: 60%;
  color: var(--text-color);
  --inner-height: 90%;
}

.custom-response-modal h1{
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.custom-response-container
{
  background-color: var(--primary-color);
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 1px 1px 1px #000,
              2px 2px 2px #222,
              3px 3px 3px #444;
  padding: 5px;
  min-height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 100%;
}

.custom-response-container .custom-response-responses
{
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: auto;
  min-height: 50px;
}

.custom-response-container .custom-response-responses hr
{
  border-color: #999;
}

.custom-response-container .custom-response-responses .custom-response-header
{
  margin-bottom: 2px;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  gap: 2px;
}
