/**
 * Packets
*/
detail-command#detail-packet
{
  min-width: 120px;
  width: 120px;
}

#detail-packet array-command.detail-command
{
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  #detail-packet array-command.detail-command{
    flex-direction: row;
  }
}
